body {
    margin: 0;
    padding: 0;
}

.heading{
    margin-left: 230px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(65, 28, 28);
}

.container {
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    background-color: rgb(169, 191, 126);
}

.calculator {
    display: inline-block;
    background-color: rgb(179, 217, 236);
    border-radius: 3px;
    margin: 30px 100px;
    padding: 10px;
    padding-bottom: 20px;
}

table {
    margin: auto;
}

input {
    width: 310px;
    height: 35px;
    margin: 10px;
    border: none;
    padding-right: 20px;
    text-align: end;
    font-size: 22px;
    color: rgb(88, 55, 55);
    box-shadow: 0 3px 2px rgb(154, 160, 165);
}

input:hover{
    box-shadow: 0 3px 2px rgb(104, 108, 110);

}

input::placeholder{
    font-size: 18px;
    color: rgb(156, 154, 154);
}

button {
    background-color: rgb(245, 244, 244);
    box-shadow: 0 3px 2px rgb(154, 160, 165);
    border: none;
    border-radius: 2px;
    margin: 3px 3px 0 3px;
    width: 75px;
    height: 35px;
    font-size: 17px;
    color: grey;
}

button:hover{
    color: black;
    font-size: 20px;
    box-shadow: 0 3px 2px rgb(104, 108, 110);

}

.last {
    background-color: rgb(243, 241, 144);
}

.pink {
    background-color: rgb(243, 161, 170);
}